<div class="toppage">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 toppage_center">
      <h2><%= link_to "ログイン", new_session_path, class: 'btn btn-info login_btn'%></h2>
      <br>
      <h4><%= link_to "初めての方はこちら", new_user_path %></h4>
    </div>
    <div class="col-md-2 toppage_right">
    </div>
  </div>
</div>
